<div class="page-title">
  <h4>User</h4>
</div>

<div class="row" *ngIf="user$ | async as user; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="user; else empty">
      <a
        class="collection-item"
      >
        {{user.username}}
      </a>
      <a
        class="collection-item"
      >
        {{user.age}}
      </a>
      <a
        class="collection-item"
      >
        {{user.height}}
      </a>
      <a
        class="collection-item"
      >
        {{user.weight}}
      </a>
      <a
        class="collection-item"
      >
        {{user.procentFat}}
      </a>
    </div>
    <ng-template #empty>
      <div class="center">
       Заполните анкету
      </div>
    </ng-template>
  </div>
</div>


<div *ngIf="!loading; else loader">
  <div class="collection" *ngIf="diaries.length !== 0; else empty">
    <a
      *ngFor="let diary of diaries"
      class="collection-item collection-item-icon"
      (click)="onSelectDiary(diary)"
    >
          <span>
            {{diary.everyDayWeight}}
            <br/>
            <strong>{{diary.created | date}}</strong>
          </span>
      <span *ngIf="!diary.lowerOrHigh">
          <i class="material-icons">arrow_upward</i>

      </span>
      <span *ngIf=diary.lowerOrHigh>
         <i class="material-icons">arrow_downward</i>
      </span>
      <span>
            <i class="material-icons" (click)="removeDiary($event, diary)">delete</i>
          </span>
    </a>
  </div>
  <ng-template #empty>
    <div class="center">Записей пока нет</div>
  </ng-template>
</div>

<div class="fixed-action-btn" #actionBtn (click)="addDiary()">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
        <div class="input-field">
        <input
          id="everyDayWeight"
          type="number"
          formControlName="everyDayWeight"
          min="0"
          [ngClass]="{'invalid': form.get('everyDayWeight').invalid && form.get('everyDayWeight').touched}"
        >
        <label for="everyDayWeight">Вес</label>
        <span
          class="helper-text red-text"
          *ngIf="form.get('everyDayWeight').invalid && form.get('everyDayWeight').touched"
        >
          Введите корректный вес
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="modal-action waves-effect waves-black btn-flat"
        type="button"
        (click)="onCancel()"
        [disabled]="form.disabled"
      >
        Отмена
      </button>
      <button
        class="modal-action btn waves-effect"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >
        Сохранить
      </button>
    </div>
  </div>
</form>
